body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:550px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:800px;
}
#u61 {
  position:absolute;
  left:100px;
  top:0px;
  width:450px;
  height:800px;
}
#u62 {
  position:absolute;
  left:2px;
  top:392px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
