body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:450px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:450px;
}
#u68 {
  position:absolute;
  left:2px;
  top:217px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:450px;
}
#u69 {
  position:absolute;
  left:0px;
  top:491px;
  width:800px;
  height:450px;
}
#u70 {
  position:absolute;
  left:2px;
  top:217px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
