body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1002px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:800px;
}
#u53 {
  position:absolute;
  left:100px;
  top:0px;
  width:450px;
  height:800px;
}
#u54 {
  position:absolute;
  left:2px;
  top:392px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:800px;
}
#u55 {
  position:absolute;
  left:552px;
  top:0px;
  width:450px;
  height:800px;
}
#u56 {
  position:absolute;
  left:2px;
  top:392px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
