body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1047px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:800px;
}
#u75 {
  position:absolute;
  left:597px;
  top:0px;
  width:450px;
  height:800px;
}
#u76 {
  position:absolute;
  left:2px;
  top:392px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:800px;
}
#u77 {
  position:absolute;
  left:100px;
  top:0px;
  width:450px;
  height:800px;
}
#u78 {
  position:absolute;
  left:2px;
  top:392px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u79 {
  position:absolute;
  left:100px;
  top:77px;
  width:103px;
  height:63px;
}
#u80 {
  position:absolute;
  left:2px;
  top:24px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u81 {
  position:absolute;
  left:597px;
  top:77px;
  width:103px;
  height:63px;
}
#u82 {
  position:absolute;
  left:2px;
  top:24px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:397px;
  height:5px;
}
#u83 {
  position:absolute;
  left:203px;
  top:108px;
  width:394px;
  height:2px;
}
#u84 {
  position:absolute;
  left:2px;
  top:-7px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u85 {
  position:absolute;
  left:223px;
  top:118px;
  width:217px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
